.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: 4px solid #574F7D;
    border-bottom: 4px solid #574F7D;
}
.Logo{
    padding: 20px;
    text-decoration: none;
}
.Options{
    display: flex;
}   
.Option{
    padding: 20px;
    text-decoration: none;
}
.Options .active{
    color: white;
    background-color: #574F7D;
}

.Option:hover{
    color: white;
    background-color: #574F7D;
}