.SignUp{
    font-family: sans-serif;
    width: 100%;
    position: relative;
}
.FormSection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;
    margin: 0 0 50px 0;
}
.Section{
    color: white;
    font-size: 3rem;
}
.inst{
    color: #7A7A7A;
    font-size: 1.3rem;
}
.ButtonSignUp{
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
    transition: 0.1s;
    font-weight: 600;
    margin-top: 30px;
    float: right;
    cursor: pointer;
    background-color: #574F7D;
    border-color: transparent;
    box-sizing: border-box;
}
.ButtonSignUp:hover{
    background: #4F3A65;
    color: white;
    box-sizing: border-box;
}
.ButtonSignUp:disabled{
    background: #949494;
    color: white;
    cursor: not-allowed;
}
.Error{
    color: #e24141;
    font-size: 0.8rem;
}
.message{
    position: absolute;
    transform: translateY(30px);
    width: 100%;
    font-size: 0.8rem;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    animation: message 0.3s ease-out backwards;
}
@keyframes message{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(30px);
        opacity: 1;
    }
}